{% extends 'admin/base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div class="container p-4">
		<div class="row justify-content-around align-items-center">
			<div class="col">
				<h1>Administration du blog</h1>
			</div>
			<div class="col-auto">
				<a href="{{ path('admin_blog_new') }}" class="btn btn-success">Rédiger un article</a>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th>Id</th>
									<th>Title</th>
									<th>Slug</th>
									<th>Plublié le</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for article in articles %}
									<tr>
										<td>{{ article.id }}</td>
										<td>{{ article.title }}</td>
										<td>{{ article.slug }}</td>
										<td>{{ article.publishedAt|date('d-m-Y') }}</td>
										<td>
											<a href="{{ path('admin_blog_edit', {'id': article.id}) }}" class="btn btn-secondary">Modifier</a>
											<a 
                                                href="{{ path('admin_blog_delete', {'id': article.id}) }}" 
                                                class="btn btn-danger"
                                                onclick="return confirm('Are you sure ???');"
                                                >Supprimer</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
